/*    Prakash Subedi
      prime.css 
      INFO1311 SN
      Olberding 
      01/17/2018
*/
body {background-color: #003366;
		color:#ffffcc;
		font-family: arial, helvetica, sans-serif;
}

header {text-align: center;
}

#wrapper { width: 680px;
			margin-left: auto;
			margin-right: auto;
			background-color: #ffffcc;
			color: #000066;
			padding-left: 10px;
			padding-top: 20px;
			border-radius:15px;
}
img { display: block;
    margin: auto;
}
nav  {	width: 150px;
		float: left;
}
nav ul{margin-left: 0px;
		padding:0px;
		list-style-type: none;
		line-height:2em;		
	}
	
main { margin-left:150px;
	padding-right: 20px;
		padding-bottom: 20px;
}
.location {font-weight: bold;
			color:#003366;
}
footer {font-size: 0.8em;
		text-align:center;
		border-top: 1px solid #003366;
		padding-top: 15px;
}
.copyright { font-style: italic;
}



