/*    Prakash Subedi
      finalprint.css 
      INFO1311 SN
      Olberding 
      02/21/2018
*/
header, nav, main, footer { display: block; 
}
body { background-color: #FFFFFF;
      color: #000000;
}
#wrapper { width: 100%;
		   max-width: 1024px;
           margin-right: auto;
		   margin-left: auto;
		   background-color: #90C7E3;
}
header { background-color: #000033;
       color: #000000;
	   font-family: Georgia, serif;
	   
}
h1       { background: url(onlinelogomaker.png);
line-height: 200%;
background-repeat: no-repeat;
	background-position: right;
	padding-left: 20px; 
	height: 72px;
	margin-bottom: 0;	
	}	   
h2 { color: #000000; 
     font-family: arial, sans-serif;
	 text-shadow: 2px 2px 2px #000000; 
	 margin:2px;
}

main{color:#000000;
font-weight: bold;}

footer a:link { color: #000000; }
footer a:visited { color: #000000; }
footer a:hover { color: #000000; } 

footer ul { list-style-type: none;}
footer a  { text-decoration: none; 
         padding-right: 10px; 
		  color: #000000;
		 }
footer li {  display: inline; }
footer {font-size:70%;
         text-align: center;
		 clear: right;
		 background-color: #000000;
		 font-weight: bold;
		 padding: 8px;

}	
nav{display:none;}
video{display:none;}
.submit{display:none;}
.reset{display:none;}