/*    Prakash Subedi
      finalscreen.css 
      INFO1311 SN
      Olberding 
      02/21/2018
*/
header, nav, main, footer { display: block; 
}
body {margin:0;
background-color: #666666;
       background-image: linear-gradient(to bottom, #ffffff, #666666);
	      background-repeat: no-repeat;
	  font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: auto;
           margin-right: 40px;
		   margin-left: 40px;		  
		   box-shadow: 2px 2px 2px #666666;
		   height:auto;
		   background-color: #90C7E3;
}	   
header { background-color: #000033;
       color: green;
	   font-family: Georgia, serif;
	   font-weight: bold;
	   
}
h1       { background: url(onlinelogomaker1.png);
line-height: 200%;
background-repeat: no-repeat;
	background-position: right;
	padding-left: 20px; 
	height: 72px;
	margin-bottom: 0;	}	   
h2 { color: black; 
     font-family: arial, sans-serif;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	 margin:2px;
}
h3{ color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);}

main{ color: #2d2e2e;
font-weight: bold;}

footer a:link { color: #000033; }
footer a:visited { color: #344873 }
footer a:hover { color: #FFFFFF; } 

footer ul { list-style-type: none;}
footer a  { text-decoration: none; 
         padding-right: 10px; }
footer li {  display: inline; }
footer {font-size:70%;
         text-align: center;
		 clear: right;
		 border-right: 1px solid #bbb;
		 background-color: #F0FFFF;
		 font-weight: bold;
		 padding: 10px;
}		   
nav {height: 40px;
     background-color: #000;
	 color: #fff;
	 padding-top: 1px;
	 font-size: .9em;
}
nav a {color: #fff;
       font-weight: bold;
	   padding-left: 30px;
	   padding-right: 30px;
	   border-right: 2px solid #CCC;
	   text-decoration: none;
}

nav a:visited {color: #999}

nav a:hover {color:#9F95BD;
}

nav ul {list-style-type:none;

}

nav li {display: inline;}
.photo { float: right;
         margin-right: 10px;
         border-radius: 15px;}
form{ color: #2d2e2e;
font-weight: bold;}
@media only screen and (max-width: 768px) {
    h1{height:100%;
	font-size:1.5em;
	padding-left:0.3em;}
    main{padding-top:0.1em; 
	padding-right:0;
	padding-bottom:0.1em;
	padding-left: 0.4em;}
	main ul { list-style-position: outside; }
    main img { display: none;
	padding-right:0;}
nav {height:auto}
nav ul {padding: 0;
        text-align:center;}
nav li {display:block;
        padding: 0;}
nav a {display: block;
       border-bottom: 2px solid #CCC;
	   border-right: none;
	   padding: .5em;
font-size: 100%;}
footer{ padding:0px;}
h2{margin:0px;}
td{display: block;
min-width: 0;}
.text1 {width: 90%;
 display: block;
}
#wrapper{margin-right:0px;
margin-left:0px;}
}

